# =====================
# Project
# =====================

PROJECT_NAME=trace-llmops


# =====================
# PostgreSQL
# =====================

POSTGRES_USER=admin
POSTGRES_PASSWORD=


# =====================
# Redis
# =====================

REDIS_PASSWORD=


# =====================
# Weaviate
# =====================

WEAVIATE_API_KEY=
